.container {
  position: relative;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (--lg) {
    max-width: 120rem;
    margin-left: calc((100vw - 120rem)/2);
    margin-right: calc((100vw - 120rem)/2);
  }

  @media (--xl) {
    max-width: 136rem;
    margin-left: calc((100vw - 136rem)/2);
    margin-right: calc((100vw - 136rem)/2);
  }
}

.container-sm {
  position: relative;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (--lg) {
    max-width: 80rem;
    margin-left: calc((100vw - 80rem)/2);
    margin-right: calc((100vw - 80rem)/2);
  }

  @media (--xl) {
    max-width: 80rem;
    margin-left: calc((100vw - 80rem)/2);
    margin-right: calc((100vw - 80rem)/2);
  }
}

.container-md {
  position: relative;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (--lg) {
    max-width: 99.2rem;
    margin-left: calc((100vw - 99.2rem)/2);
    margin-right: calc((100vw - 99.2rem)/2);
  }
}

.container-left {
  width: 100%;
  padding-left: 1rem;

  @media (--lg) {
    width: calc(100vw - ((100vw - 120rem)/2));
    margin-left: calc((100vw - 120rem)/2);
  }

  @media (--xl) {
    width: calc(100vw - ((100vw - 136rem)/2));
    margin-left: calc((100vw - 136rem)/2);
    margin-right: calc((100vw - 136rem)/2);
  }
}

.container-left.offset {
  padding-left: 2rem;

  @media (--lg) {
    width: 100%;
    margin-left: 0;
    padding-left: calc((100vw - 120rem)/2 + 2rem);
  }

  @media (--xl) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: calc((100vw - 136rem)/2 + 2rem);
  }
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (--lg) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container-full {
  width: 100%;
}