:root {
    --color-1: #fff;
    --color-2: #000;
    --color-3: #942617;
    --color-4: #E24E2A;
    --color-5: #EEC479;
    --color-6: #D4D2D2;
    --color-7: #151515;
    --gradient-1: linear-gradient(to bottom, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0));
    --gradient-2: linear-gradient(to bottom, hsla(0, 0%, 0%, 1), hsla(0, 0%, 0%, 0));
    --gradient-3: linear-gradient(to left, #F1ECE4, #DAD8D7);
}

:root {
    /* Семейство шрифтов TT Norms Pro (вариативный) */
    --font-1: "TT Norms Pro", sans-serif;
    --font-1-thin: "TT Norms Pro", sans-serif;         /* font-weight: 100 */
    --font-1-extralight: "TT Norms Pro", sans-serif;    /* font-weight: 200 */
    --font-1-light: "TT Norms Pro", sans-serif;         /* font-weight: 300 */
    --font-1-regular: "TT Norms Pro", sans-serif;       /* font-weight: 400 */
    --font-1-normal: "TT Norms Pro", sans-serif;        /* font-weight: 400 */
    --font-1-medium: "TT Norms Pro", sans-serif;        /* font-weight: 500 */
    --font-1-demibold: "TT Norms Pro", sans-serif;      /* font-weight: 600 */
    --font-1-bold: "TT Norms Pro", sans-serif;          /* font-weight: 700 */
    --font-1-extrabold: "TT Norms Pro", sans-serif;     /* font-weight: 800 */
    --font-1-black: "TT Norms Pro", sans-serif;         /* font-weight: 900 */
}

:root {
    --transition-1: 0.25s all ease-out;
    --transition-2: 0.5s all ease-out;
    --transition-3: 1s all ease-out;
}

:root {
    --z-index-1: 1000;
    --z-index-2: 990;
    --z-index-3: 980;
    --z-index-4: 970;
    --z-index-5: 960;
    --z-index-6: 950;
    --z-index-7: 940;
    --z-index-8: 930;
    --z-index-9: 920;
    --z-index-10: 910;
}
