blockquote {
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
}

.blockquote-border {
  padding: 2rem 0;
  border-top: 1px solid var(--color-6);
  border-bottom: 1px solid var(--color-6);
}

.blockquote-sm {
  font-size: 1.2em;
  line-height: 1.3;
}

.blockquote-md {
  font-size: 1.8em;
  line-height: 1.3;
}

.blockquote-lg {
  font-size: 2.4em;
  line-height: 1.3;
}