.card-number {
  display: flex;
  flex-direction: column;
  color: var(--color-2);

  @media (--lg) {
  }
}

.card-number__item.title-wrap {
  display: flex;
  align-items: baseline;
}

.card-number__title {
  font-family: var(--font-1-extended);
  font-weight: 500;
  font-size: 6em;
  line-height: 0.9;

  @media (--lg) {
    font-size: 8em;
  }
}

.card-number__item.label-wrap {
  display: flex;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.card-number__item.label-wrap.visible {
  opacity: 1;
}

.card-number__label {
  font-size: 2.4em;
  font-weight: 200;
}
