.card-nav {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2rem;
  text-decoration: none;
  overflow: hidden;
  container-type: inline-size;
  container-name: card-nav;

  @container card-nav (min-width: 75rem) {
    padding: 4rem;
    border-radius: 4rem;
  }
}

.card-nav .card__item.cover-wrap {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-nav .card__item.cover-wrap::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: hsl(0deg 0% 0% / 20%);
  z-index: 1;
}

.card-nav .card__cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}
  
.card-nav .card__item.title-wrap {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;

  @container card-nav (min-width: 75rem) {
    text-align: left;
  }
}

.card-nav .card__item.title-wrap .card__title {
  font-size: 2em;

  @container card-nav (min-width: 75rem) {
    font-size: 2.5em;
  }
}
