.card-restaurant {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  background: var(--color-7);
  text-decoration: none;
  overflow: hidden;
  transition: var(--transition-1);

  @media (--lg) {
    padding: 3rem;
    border-radius: 2rem;
    gap: 2rem;
  }
}

.card-restaurant .card__item.bg-wrap {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.card-restaurant .card__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-restaurant .card__item.icon-wrap,
.card-restaurant .card__item.logo-wrap {
  position: relative;
  z-index: 1;
}

.card-restaurant:hover {
  background: var(--color-2);
}

.card-restaurant .card__item.icon-wrap {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--lg) {
    bottom: 3rem;
    right: 3rem;
  }
}

.card-restaurant .card__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-restaurant .card__item.logo-wrap {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
  width: 15rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (--lg) {
    top: 3rem;
    left: 3rem;
    width: 18.5rem;
  }
}

.card-restaurant .card__logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card-restaurant-wrap .card__item.title-wrap {
  padding-top: 1rem;
}

.card-restaurant-wrap .card__title {
  font-size: 1.4em;

  @media (--lg) {
    font-size: 1.5em;
  }
}

.card-restaurant-wrap .card__item.desc-wrap {
  padding-top: 0.5rem;
}

.card-restaurant-wrap .card__desc {
  font-size: 1em;
}

.card-restaurant-wrap .card__item.buttons-wrap {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
