.cookie-panel {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  z-index: var(--z-index-9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cookie-panel.hidden {
  display: none;
}

.cookie-panel.opening {
  opacity: 0;
  transform: translateY(100%);
}

.cookie-panel .section__item {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--color-4);
  box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
  border-radius: 0.25rem;
  margin: 0 1rem;

  @media (--md) {
    padding: 3rem;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem;
  }
}

.cookie-panel .desc-wrap {
  flex: 1;
}

.cookie-panel .desc {
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--color-2);
}

.cookie-panel .button-wrap {
  flex-shrink: 0;
}

/* Адаптация для мобильных устройств */
@media (width <= 768px) {
  .cookie-panel {
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .cookie-panel .section__item {
    margin: 0;
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
