.header {
  position: relative;
  height: 7.2rem;
  z-index: var(--z-index-4);
  background: var(--gradient-2);
  box-shadow: 0 2px 5px transparent;
  transition: all 0.25s ease-out;

  @media (--lg) {
    height: 10.4rem;
  }
}

.header.fixed {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.2rem;
  background: var(--color-2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

  @media (--lg) {
    height: 7.2rem;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 1rem;
  transition: all 0.25s ease-out;
}

.header .section__item.logo-wrap {
  flex-shrink: 0;
  z-index: var(--z-index-4);
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.header.header-logo-visible {
  background: var(--color-2);
}

.header.fixed .section__item.logo-wrap,
.header.header-logo-visible .section__item.logo-wrap {
  opacity: 1;
}

.header .section__item.logo-wrap a {
  display: flex;
  width: 9.4rem;
  height: auto;
  transition: all 0.5s ease-out;

  @media (--lg) {
    width: 14rem;
  }
}

.header .section__item.burger-icon-wrap {
  flex-shrink: 0;
  margin-inline-start: auto;
}

.header .section__item.burger-menu-wrap {

  @media (--lg) {
    display: none;
  }
}
