.intro {
  margin-top: -7.2rem;

  @media (--lg) {
    margin-top: -10.4rem;
  }
}

.intro .swiper-container {
  width: 100%;
  height: 68.4rem;
  padding-bottom: 0;
  color: var(--color-1);

  @media (--lg) {
    height: 83rem;
  }
}

.intro .section__item.slide-wrap.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: opacity;
}

.intro .section__subitem.cover-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.intro .section__subitem.cover-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.2);
  z-index: 1;
}

.intro .cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro .section__item.logo-heading-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.intro .logo-heading-wrap .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  text-align: left;
  pointer-events: auto;

  @media (--lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}

.intro .section__subitem.logo-wrap {
  width: 25rem;
  flex-shrink: 0;

  @media (--lg) {
    width: 42.5rem;
  }
}

.intro .section__subitem.empty-wrap {
  @media (--lg) {
    display: none;
  }
}

.intro .section__subitem.heading-wrap {
  padding-bottom: 4rem;

  @media (--lg) {
    padding-bottom: 0;
  }
}

.intro .section__subitem.logo-wrap img {
}

.intro .heading {
  font-size: 1.1em;

  @media (--lg) {
    font-size: 1.3em;
  }
}

.intro .swiper-pagination {
  z-index: 3;
  bottom: 2rem;
}

.intro .swiper-button-next,
.intro .swiper-button-prev {
  z-index: 3;
  --swiper-navigation-color: #fff;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.intro:hover .swiper-button-next,
.intro:hover .swiper-button-prev {
  opacity: 0.5;
}

.intro:hover .swiper-button-next:hover,
.intro:hover .swiper-button-prev:hover {
  opacity: 1;
}

.intro .swiper-pagination-bullet {
  background: #fff !important;
}
