.logoline {
  overflow: hidden;
}

.logoline .swiper-container {
  overflow: hidden;
}

.logoline .swiper-wrapper {
  transition-timing-function: linear;
}

.logoline .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.logoline__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.logoline__logo {
  display: block;
  width: 100%;
  max-height: 8.4rem;
  object-fit: contain;
  opacity: 0.5;
  transition: var(--transition-1);

  @media (--lg) {
    max-height: 7.5rem;
  }
}

.logoline .swiper-slide:hover .logoline__logo {
  opacity: 1;
}
