<header class="header js-header{{ page_id != 'index' ? ' header-logo-visible' : '' }}" itemscope itemtype="https://schema.org/Organization">
  <div class="container">
    <div class="section__item logo-wrap">
      <a href="/" class="link header__logo" itemprop="url">
        <img src="{{ url('data/img/ui/logos/logo-color.svg') }}" alt="Logo" class="img-responsive" itemprop="logo">
      </a>
    </div>
    <div class="section__item burger-icon-wrap">
      {% include 'components/burger-icon.twig' %}
    </div>
    <div class="section__item burger-menu-wrap">
      {% include 'components/burger-menu.twig' with {
        items: global.nav[lang_code].items
      } %}
    </div>
  </div>
</header>