<section class="intro">
  <div class="swiper-container" id="{{ data.slider.id|default('introSlider') }}" data-settings="{{ data.slider.settings|default({})|json_encode }}">
    <div class="swiper-wrapper">
      {% if data.slider.items is defined and data.slider.items is not empty %}
        {% for slide in data.slider.items %}
          <div class="section__item slide-wrap swiper-slide">
              <div class="section__subitem cover-wrap">
                {% if slide.image is defined %}
                  {% include 'components/picture.twig' with {
                    image: slide.image,
                    alt: slide.alt|default(''),
                    class: 'img-responsive',
                    style: 'width: 100%; height: 100%; object-fit: cover;',
                    picture_style: 'display: block; width: 100%; height: 100%;',
                    sizes_preset: 'full',
                    loading: loop.first ? 'eager' : 'lazy'
                  } %}
                {% elseif slide.cover is defined %}
                  <div class="cover" style="background-image: url('{{ url(slide.cover) }}');"></div>
                {% endif %}
              </div>
              <div class="section__item logo-heading-wrap">
                <div class="container">
                  <div class="section__subitem empty-wrap"></div>
                  <div class="section__subitem logo-wrap">
                    {% include 'components/logo.twig' %}
                  </div>
                  <div class="section__subitem heading-wrap">
                    {% if slide.heading is defined %}
                      {% include 'components/heading.twig' with {'item': slide.heading} %}
                    {% endif %}
                  </div>
                </div>
              </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="section__item slide-wrap swiper-slide">
            <div class="section__subitem cover-wrap">
              <div class="cover" style="--bg-color: {{ data.background|default('transparent') }};"></div>
            </div>
            <div class="section__item logo-heading-wrap">
              <div class="container">
                <div class="section__subitem logo-wrap">
                  {% include 'components/logo.twig' %}
                </div>
                <div class="section__subitem heading-wrap">
                  {% if data.heading is defined %}
                    {% include 'components/heading.twig' with {'item': data.heading} %}
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
      {% endif %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
