<section class="logoline section">
    <div class="swiper-container" id="logolineSlider">
      <div class="swiper-wrapper">
        {% set restaurantsList = load_json('data/json/' ~ lang_code ~ '/pages/restaurants.json') %}
        {% if restaurantsList and restaurantsList.items is not empty %}
          {% for slug in restaurantsList.items %}
            {% set restaurant = load_json('data/json/' ~ lang_code ~ '/restaurants/' ~ slug ~ '.json') %}
            {% if restaurant and restaurant.visible | default(false) %}
              {% set logo = restaurant.logos[1] | default(restaurant.logos[0] | default(null)) %}
              <div class="swiper-slide">
                <a href="{{ url('/' ~ slug ~ '/') }}" class="logoline__item link">
                  {% if logo %}
                    <img src="{{ logo.src }}" alt="{{ logo.alt | default(restaurant.restaurant.name | default(slug)) }}" class="logoline__logo" loading="lazy">
                  {% endif %}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
</section>